<div class="mt-5">
  <div class="row mb-5">
    <div class="col-10 mx-auto">
      <p class="text-center">
        Some content here
      </p>
      <div class="mt-4 d-flex flex-md-row flex-column justify-content-center">
        <button pButton class="p-button mr-md-2 mb-0 mb-md-0 mb-2" type="button" label="Documentation"></button>
        <button pButton class="p-button-help" type="button" label="Add to logo"></button>
      </div>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="row text-center mt-3 mb-5">
    <div class="col-12 md-8 mx-auto">
      <h4>About</h4>
      <p>Logo is a multi-functional Discord bot. It moderates your server, mutes spammers, checks the weather, verifies new members, denies users using VPNs access to your server, and much more.</p>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="row mt-3 mb-5">
    <div class="col-12 col-md-8 mx-auto">
      <h4 class="text-center">Features</h4>
      <p class="mb-2 ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Anti-Spam:</span>
        Auttaja removes unwanted spam and mutes the user who is posting it.
      </p>
      <p class="mb-2 ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Anti-Advertisement:</span>
        Auttaja will remove Discord invites from unauthorized users.
      </p>
      <p class="mb-2 ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Moderation:</span>
        Auttaja provides a plethora of different moderation commands
      </p>
      <p class="mb-2 ml-4">
        <i class="pi pi-check-circle"></i> <span class="p-text-bold"> Gatekeeping:</span>
        Auttaja prevents users that use a VPN from accessing your server
      </p>
    </div>
  </div>
</div>


