// float label
@mixin filled-input-float-label() {
  @if (nth($inputPadding, 1) == 1rem) {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
  }
  @else if (nth($inputPadding, 1) == .75rem) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
}
