// Open color system
$white: #ffffff !default;
$black: #000000 !default;

$gray-100: #f1f3f5;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$red-100: #ffe3e3 !default;
$red-200: #ffc9c9 !default;
$red-300: #ffa8a8 !default;
$red-400: #ff8787 !default;
$red-500: #ff6b6b !default;
$red-600: #fa5252 !default;
$red-700: #f03e3e !default;
$red-800: #e03131 !default;
$red-900: #c92a2a !default;

$pink-100: #ffdeeb !default;
$pink-200: #fcc2d7 !default;
$pink-300: #faa2c1 !default;
$pink-400: #f783ac !default;
$pink-500: #f06595 !default;
$pink-600: #e64980 !default;
$pink-700: #d6336c !default;
$pink-800: #c2255c !default;
$pink-900: #a61e4d !default;

$grape-100: #f3d9fa;
$grape-200: #eebefa;
$grape-300: #e599f7;
$grape-400: #da77f2;
$grape-500: #cc5de8;
$grape-600: #be4bdb;
$grape-700: #ae3ec9;
$grape-800: #9c36b5;
$grape-900: #862e9c;

$violet-100: #e5dbff !default;
$violet-200: #d0bfff !default;
$violet-300: #b197fc !default;
$violet-400: #9775fa !default;
$violet-500: #845ef7 !default;
$violet-600: #7950f2 !default;
$violet-700: #7048e8 !default;
$violet-800: #6741d9 !default;
$violet-900: #5f3dc4 !default;

$indigo-100: #dbe4ff !default;
$indigo-200: #bac8ff !default;
$indigo-300: #91a7ff !default;
$indigo-400: #748ffc !default;
$indigo-500: #5c7cfa !default;
$indigo-600: #4c6ef5 !default;
$indigo-700: #4263eb !default;
$indigo-800: #3b5bdb !default;
$indigo-900: #364fc7 !default;

$blue-100: #d0ebff !default;
$blue-200: #a5d8ff !default;
$blue-300: #74c0fc !default;
$blue-400: #4dabf7 !default;
$blue-500: #339af0 !default;
$blue-600: #228be6 !default;
$blue-700: #1c7ed6 !default;
$blue-800: #1971c2 !default;
$blue-900: #1864ab !default;

$cyan-100: #c5f6fa !default;
$cyan-200: #99e9f2 !default;
$cyan-300: #66d9e8 !default;
$cyan-400: #3bc9db !default;
$cyan-500: #22b8cf !default;
$cyan-600: #15aabf !default;
$cyan-700: #1098ad !default;
$cyan-800: #0c8599 !default;
$cyan-900: #0b7285 !default;

$teal-100: #c3fae8 !default;
$teal-200: #96f2d7 !default;
$teal-300: #63e6be !default;
$teal-400: #38d9a9 !default;
$teal-500: #20c997 !default;
$teal-600: #12b886 !default;
$teal-700: #0ca678 !default;
$teal-800: #099268 !default;
$teal-900: #087f5b !default;

$green-100: #d3f9d8 !default;
$green-200: #b2f2bb !default;
$green-300: #8ce99a !default;
$green-400: #69db7c !default;
$green-500: #51cf66 !default;
$green-600: #40c057 !default;
$green-700: #37b24d !default;
$green-800: #2f9e44 !default;
$green-900: #2b8a3e !default;

$lime-100: #e9fac8 !default;
$lime-200: #d8f5a2 !default;
$lime-300: #c0eb75 !default;
$lime-400: #a9e34b !default;
$lime-500: #94d82d !default;
$lime-600: #82c91e !default;
$lime-700: #74b816 !default;
$lime-800: #66a80f !default;
$lime-900: #5c940d !default;

$yellow-100: #fff3bf !default;
$yellow-200: #ffec99 !default;
$yellow-300: #ffe066 !default;
$yellow-400: #ffd43b !default;
$yellow-500: #fcc419 !default;
$yellow-600: #fab005 !default;
$yellow-700: #f59f00 !default;
$yellow-800: #f08c00 !default;
$yellow-900: #e67700 !default;

$orange-100: #ffe8cc !default;
$orange-200: #ffd8a8 !default;
$orange-300: #ffc078 !default;
$orange-400: #ffa94d !default;
$orange-500: #ff922b !default;
$orange-600: #fd7e14 !default;
$orange-700: #f76707 !default;
$orange-800: #e8590c !default;
$orange-900: #d9480f !default;
